.guide-header{
    padding: 20px;
    margin-left: 37rem;
}

.steps-container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 20px;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: var(--primary-color);
    width: 40rem;
    height: 10rem;
    padding: 10px;
    border-radius: 10px;   
}

.step-icon{
    font-size: 50px;
}

.step-desc{
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .guide-header{
        margin-left: 0px;
    }

    .steps-container{
        flex-direction: column;
        margin-left: -40px;
        gap: 3rem;
    }

    .step{
        width: 20rem;
        height: 12rem;
    }
}