.service-body {
  align-items: center;
  background: var(--primary-color);
  height: 100vh;
}

.service-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;
}

.service-banner-text{
  color: #FFFFFF;
  font-size: 40px;
  max-width: 50%;
}

.service-graphic img{
  max-width: 30%;
  height: 200px;
  margin-left: 30rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 40px;
  margin-top: 30px;
  gap: 2.5rem;
}

.item-image {
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.item-name,
.item-desc,
.item-cta {
  text-align: center;
  margin-bottom: 10px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
  height: 400px;
  width: 330px;
  transition: var(--transition);
  padding: 10px;
}

.service-item:hover {
  transform: scale(1.1);
}

.item-name {
  color: var(--primary-color);
  font-size: 30px;
  margin-top: 150px;
  margin-left: 80px;
}

.item-desc {
  margin-top: 50px;
  color: white;
  margin: 20px 0;
}

.item-cta {
  width: 200px;
  color: white;
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 30px;
  transition: var(--transition);
  margin: 0 auto 10px auto;
}
.item-cta > a {
  color: white;
}

.item-cta:hover {
  color: var(--primary-color);
  background: black;
  border: 1px solid var(--primary-color);
}

.page-topic {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

@media (max-width: 600px) {
  /* section#services {
    height: 320vh;
  } */

  .service-banner-text{
    font-size: 20px;
    text-align: left;
  }

  .service-body{
    margin-bottom: 60rem;
  }

  .service-graphic{
    display: none;
  }

  .services-container {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
  }

  .service-item {
    height: 350px;
    margin-bottom: 20px;
  }

  .item-name,
.item-desc,
.item-cta {
  margin-bottom: 0px;
}


  .item-name{
    padding: 20px;
    margin-top: 130px;
  }

  .item-desc{
    
  }

  .features-container {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 35px;
  }

  .feat-topic{
    margin-left: 80px;
  }

  .feature-item {
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
  }
}
