.service-landing-container {
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}

.service-landing-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/customerMoving.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.service-landing-title {
    margin-top: -5rem;
    margin-left: 35rem;
    font-size: 50px;
    color: black;
    width: 500px;
    height: 50px;
}

.service-container {
    margin: 0 auto;
    margin-top: 5rem;
    background-color: black;
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    padding: 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
}

.service-container:hover {
    transition: var(--transition);
    transform: scale(1.1);
}

.service1 {
    margin-left: -50rem;
    margin-right: 5rem;
}

.service2 {
    margin-right: 15rem;
}

.service-icon {
    color: var(--primary-color);
    font-size: 50px;
    margin-left: 10rem;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.service-btn {
    margin-left: 7rem;
    position: relative;
    z-index: 1;
}

.service-btn > a {
    color: black;
}

@media (max-width: 768px) {
    .service-landing-mobile {
        width: 45vh;
        height: 80vh;
    }

    .service-landing-container::before {
        display: none;
    }

    .service-landing-title {
        margin-left: 0px;
        font-size: 20px;
        margin-left: 40px;
        margin-bottom: 0px;
        margin-top: -12rem;
    }

    .service-landing-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .service1 {
        margin-left: 40px;
        width: 300px;
        height: 200px;
    }

    .service2 {
        margin-left: 40px;
        margin-top: -20px;
        width: 300px;
        height: 200px;
    }

    .service-icon {
        margin-left: 5rem;
    }

    .service-btn {
        margin-left: 2rem;
        margin-top: -15px;
    }
}