section#about {
  background: var(--primary-color);
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

.about-container{
  flex: 1;
}

.about-heading {
  font-size: 50px;
}

.about-desc{
  padding: 20px;
}

.team-heading{
  margin-top: 25rem;
  font-size: 30px;
  font-weight: 500;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.team-member {
  display: flex;
  align-items: center;
  margin: 0 20px; /* Add margin to space out the team members */
}

.team-img {
  margin-top: 3rem;
  width: 150px;
  border-radius: 100px;
}

.team-img2 {
  margin-top: 3rem;
  margin-left: 10rem;
  width: 160px;
  height: 160px;
  border-radius: 150px;
}

.team-info {
  margin-left: 20px; /* Add margin to space out the text from the image */
  text-align: left;
}

@media (max-width: 375px) {

  .team-heading{
    margin-top: 52rem;
    margin-left: 10px;
    font-size: 40px;
  }

  .team-container{
    flex-direction: column;
  }

  .team-member{
    flex-direction: column;
    margin-top: 40px;
  }

  .team-img2{
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .team-heading{
    margin-top: 42rem;
  }
}