section#about {
  background: var(--primary-color);
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

.about-container{
  flex: 1;
}

.about-heading {
  font-size: 50px;
}

.team-heading{
  margin-top: 15rem;
  font-size: 30px;
  font-weight: 500;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.team-member {
  display: flex;
  align-items: center;
  margin: 0 20px; /* Add margin to space out the team members */
}

.team-img {
  margin-top: 3rem;
  width: 150px;
  border-radius: 100px;
}

.team-info {
  margin-left: 20px; /* Add margin to space out the text from the image */
  text-align: left;
}