body{
    background-color: var(--primary-color);
}

.overlay{
    position: absolute;
    top: 43rem;
    left: 25rem;
    width: 50%;
    height: 200px; /* Semi-transparent black background */
    color: var(--primary-color);
    font-size: 18px;
    text-align: center;
}


.bkplus-graphic{
    margin-left: 10rem;
    width: 80%;
    height: 400px;
    filter: brightness(50%);
    border-radius: 10px;
}

.partner-heading{
    margin-top: 5rem;
    font-size: 50px;
}

.partner-desc{
    font-size: 25px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .bkplus-graphic{
        display: none;
    }

    .overlay{
        display: none;
    }
}