.container {
  background: black;
  color: white;
  height: 80vh;
}


.landing-container{
  margin-top: 20px;
  background-image: url("../../assets/movers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 115%;
}


.cta {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.5rem;
}
.motto {
margin-left: 5rem;
  font-size: 70px;
  text-align: left;
  padding-top: 150px;
  color: var(--secondary-color);
}


@media (max-width: 768px) {
  .container{
    width: 47.5vh;
    height: 60vh;
  }
  .landing-container{
    background-image: none;
  }
}

@media (max-width: 480px) {
  .container{
    height: 60vh;
  }
  .landing-container{
   background-image: none;
  }
}

/* Responsive adjustments for .motto and #scroll-down */
@media (max-width: 768px) {
  .motto {
    font-size: 150px;
    margin-left: 30px;
    padding-top: 100px;
  }

}

@media (max-width: 480px) {
  .motto {
    font-size: 50px;
    margin-left: 15px;
    padding-top: 50px;
  }
}