#partner{
    margin-top: 50px;
    margin-bottom: 50px;
}

.partner_title{
    margin-left: 33rem;
    padding: 20px;
}

.partner_benefits{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    gap: 1rem;
}
.partner_text{
    font-size: 40px;
    color: white;
}

.partner_perk{
    margin-left: 20px;
    font-size: 18px;
}

.partner_checkmark{
    color: white;
    margin-right: 10px;
}

.perk-desc{
    font-size: 20px;
}

.info-field{
    width: 30rem;
}

