.pagebanner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .imgbanner, .textbanner {
    flex: 1;
    padding: 20px;
  }
  
  .imgbanner > img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .textbanner {
    margin-top: 30px;
    width: 50%;
    height: 30rem;
    padding: 20px;
    background-color: black;
    border-radius: 30px;
  }
  
  .home_text {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-top: 10px;
  }
  
  .desc_text {
    font-size: 1.25rem;
    margin-top: 5rem;
    color: var(--primary-color);
  }
  
  #location_pin, #route_icon {
    font-size: 4rem;
    margin-top: 2rem;
    color: var(--primary-color);
  }
  
  #route_icon{
    margin-left: 40rem;
  }

  .cta-01 {
    margin-left: 20rem;
    margin-top: 2rem;
  }
  
  .cta_01_btn {
    width: max-content;
    display: inline-block;
    background: var(--secondary-color);
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
  }
  
  .cta_01_btn:hover {
    border: 1px solid var(--primary-color);
    background: black;
    color: var(--primary-color);
  }

  @media (max-width: 480px) {
    .textbanner{
      height: 550px;
    }
    .imgbanner{
      display: none;
    }

    .desc_text{
      margin-top: 2rem;
    }

    #route_icon{
      margin-top: -10px;
      margin-left: 15rem;
    }

    .cta-01{
      margin-left: 7rem;
    }
  }