@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

:root {
  --primary-color: #7fd75a;
  --secondary-color: #42bd0f;

  --transition: all 400ms ease;

  --container-width-lg: 78%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/*========= General Styles=======*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.btn {
  width: max-content;
  display: inline-block;
  background: var(--secondary-color);
  color: white;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
}

.btn:hover {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

